@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-mukta: "Mukta", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-scrolling {
  animation: scroll 20s linear infinite;
}

html {
  scroll-behavior: smooth;
}

.navbar-transition {
  transition:
    background-color 0.5s ease,
    box-shadow 0.5s ease;
}

.font-inter {
  font-family: var(--font-inter);
}

.font-mukta {
  font-family: var(--font-mukta);
}

input::placeholder {
  transition: all 0.1s ease-out;
  animation: fadeInOut 0.7s ease-in-out;
}
