@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-mukta: 'Mukta', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .underline_custom {
    @apply relative py-1.5 no-underline after:absolute after:bottom-1 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:rounded-lg after:bg-iio after:transition-transform after:duration-300 after:ease-in-out after:content-[''] hover:text-iio hover:after:origin-bottom-left hover:after:scale-x-100;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

.font-inter {
  font-family: var(--font-inter);
}

.font-mukta {
  font-family: var(--font-mukta);
}

@layer utilities {
  .cursor-cross {
    cursor: url('../../public/cursor.svg'), auto;
  }
}

@keyframes ripple {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0.6;
  }
  100% {
    width: 400px;
    height: 400px;
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 0.7s ease-out;
}
