@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .underline_custom {
    @apply relative py-1 no-underline after:absolute after:bottom-1 after:left-0 after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:rounded-lg after:bg-iio after:transition-transform after:duration-300 after:ease-in-out after:content-[''] hover:text-iio hover:after:origin-bottom-left hover:after:scale-x-100;
  }
}

body {
  font-family: var(--font-funnel), sans-serif;
}

@layer utilities {
  .cursor-cross {
    cursor: url('../../public/cursor.svg'), auto;
  }
}

@keyframes ripple {
  from {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  to {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 0;
  height: 0;
  background: var(--ripple-color, #cf5a24); /* Default color if not set */
  z-index: -10;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition:
    width 0.7s,
    height 0.7s;
}

.ripple:hover::before {
  width: 700px;
  height: 500px;
}

.animate-ripple {
  animation: ripple 0.7s ease-out;
}
